@import 'src/styles/variables/index';

.nav {       
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 65px;
    border-bottom: 1px solid $black;
    &__links {
        display: flex;
    }
    &__logo {
        font: $regular-xl-font;
        margin-right: 100px;
        cursor: pointer;
    }
    &__sections {
        display: flex;
    }
    &__section {
        font: $regular-m-font;
        cursor: pointer;
        padding: 16px 36px;
        border: 1px solid transparent;
        & + & {
            margin-left: 38px;
        }
        &_active {
            color: red;
            border-color: $black;
            border-radius: 15px;
        }
    }
    &__personal {
        display: flex;
    }
    &__profile {
        cursor: pointer;
    }
    &__basket {
        margin-left: 80px;
    }
}