@import '~normalize.css';
@import 'reset-css';
@import '/src/styles/variables/index';

html, body, .body {
    min-height: 100vh;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $black;
}

input, button {
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    display: block;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}