<section class="about-us">
    <h6 class="about-us__info">О нас</h6>
    <div class="about-us__contacts">
        <ul class="about-us__icons">
            <li class="about-us__icon">
                <img src="/assets/icons/whatsup.svg">
            </li>
            <li class="about-us__icon">
                <img src="/assets/icons/telegram.svg">
            </li>
            <li class="about-us__icon">
                <img src="/assets/icons/odnoklassniki.svg">
            </li>
        </ul>
        <a class="about-us__phone-number" href="tel:8 (800) 555-35-35">8 (800) 555-35-35</a>
    </div>
</section>