
<section class="footer-navigation">
    <div class="footer-navigation__text">
    <h5 class="footer-navigation__title">Каталог</h5>
    <nav>
        <ul class="footer-navigation__sections">
            <li class="footer-navigation__section">iPhone</li>
            <li class="footer-navigation__section">Mac</li>
            <li class="footer-navigation__section">AirPods</li>
            <li class="footer-navigation__section">iPad</li>
            <li class="footer-navigation__section">Watch</li>
        </ul>
    </nav>
    </div>
    <div class="footer-navigation__contacts">
        <a href="tel:8 (800) 555-35-35" class="footer-navigation__phone-number">8 (800) 555-35-35</a>
        <ul class="footer-navigation__icons">
            <li class="footer-navigation__icon">
                <img src="/assets/icons/whatsup-white.svg">
            </li>
            <li class="footer-navigation__icon">
                <img src="/assets/icons/telegram-white.svg">
            </li>
            <li class="footer-navigation__icon">
                <img src="/assets/icons/odnoklassniki-white.svg">
            </li>
        </ul>
    </div>
</section>