<li class="cart-item">
    <div class="cart-item__info">
        <img class="cart-item__img" src="https://placehold.co/134x189">
        <div class="cart-item__about">
            <h6 class="cart-item__title">iPad 10th Gen</h6>
            <div class="cart-item__characteristics">
                Model: Wifi + Cellular
                Память: 512 GB
                Цвет: White
            </div>
        </div>
    </div>
    <div class="cart-item__options">
        <ishop-amount-selector></ishop-amount-selector>
        <span class="cart-item__price">1377777</span>
        <button class="cart-item__remove">
            <img src="/assets/icons/delete-button.svg" alt="">
        </button>
    </div>
</li>