<nav class="nav">
    <div class="nav__links">
    <h1 class="nav__logo">iShop</h1>
    <ul class="nav__sections">
        <li class="nav__section">iPhone</li>
        <li class="nav__section">Mac</li>
        <li class="nav__section">AirPods</li>
        <li class="nav__section">iPad</li>
        <li class="nav__section">Watch</li>
    </ul>
</div>
    <div class="nav__personal">
        <button class="nav__profile">
            <img src="/assets/icons/profile.svg" alt="">
        </button>
        <button class="nav__basket">
            <img src="/assets/icons/basket.svg" alt="">
        </button>
    </div>
</nav>