<form class="register-form">
    <h4 class="register-form__title">Регистрация</h4>
    <input type="email" placeholder="Электронная почта" class="register-form__email">
    <input type="email" placeholder="Имя" class="register-form__name">
    <input type="password" placeholder="Пароль" class="register-form__password">
    <input type="password" placeholder="Повторите пароль" class="register-form__password-repeat">
    <button type="submit" class="register-form__submit">Зарегистрироваться</button>
    <button class="register-form__login" routerLink="/identity/login">Уже зарегистрированы? Войти</button>
</form>